[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
marshmallow = "*"
psycopg2 = "*"
mysql-connector-python = "*"
mysql = "*"
mysqlclient = "*"
protobuf = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
